{% load staticfiles %}

<meta charset="UTF-8">
<title>{% block title %}Bootcamp{% endblock %}</title>
<!-- Bootstrap Core CSS -->
<link href="{% static 'todos/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<!-- MetisMenu CSS -->
<link href="{% static 'todos/vendor/metisMenu/metisMenu.min.css' %}" rel="stylesheet">

<!-- Custom CSS -->
<link href="{% static 'todos/dist/css/sb-admin-2.min.css' %}" rel="stylesheet">

<!-- Morris Charts CSS -->
<link href="{% static 'todos/vendor/morrisjs/morris.css' %}" rel="stylesheet">

<!-- Custom Fonts -->
<link href="{% static 'todos/fonts/fontawesome.css' %}" rel="stylesheet" type="text/css">