{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include "tasks/head.html" %}
    {% block head %}{% endblock %}
</head>
<body>
    {% block body %}
        <div id="wrapper">
            <!-- Navigation -->
            {% include "tasks/nav.html" %}

             <div id="page-wrapper">
                 <div class="row">
                     <div class="col-lg-12">
                         <h1 class="page-header">{% block title_page %}Demo Project{% endblock %}</h1>
                     </div>
                     <!-- /.col-lg-12 -->
                 </div>
                 <!-- /.row -->

                 <!-- /.row -->
                 {% block main %}{% endblock main %}
             </div>
         </div>

        {% include "tasks/script.html" %}
        {% block foot %} {% endblock %}
        <script src="{% static 'tasks/dist/js/sb-admin-2.min.js' %}"></script>
    {% endblock %}
</body>
</html>


